@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

:root {
  --primary-100-color: #ffece6;
  --primary-200-color: #fed9cc;
  --primary-800-color: #fd6733;
  --primary-900-color: #fc541a;
  --secondary-100-color: #fc4100;
  --black-100-color: #151515;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* display: flex; */
  height: 100vh;
  overflow-y: hidden;
}

/* Custom CSS */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table tr th,
table tr td {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr th {
  background-color: #f2f2f2;
  text-align: left;
}

.header-text {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 4px;
}

.flex {
  display: flex;
  gap: 34px;
}

.col {
  flex: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input,
.form-group select {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.label-img {
  margin-top: 10px;
}

.btn {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background-color: #3498db;
  text-align: center;
}

.btn-small {
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.btn-primary {
  background-color: #3498db;
}

.float-right {
  float: right;
}

.btn-danger {
  background-color: #e74c3c;
}

.btn-warning {
  background-color: #f39c12;
}

.btn:hover {
  background-color: #2980b9;
}

.alert {
  position: fixed;
  top: 100px;
  right: 25px;
  background-color: var(--primary-900-color);
  border-radius: 5px;
  z-index: 1000;
}

.alert.hidden {
  display: none;
}

.alert-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px 0 0 5px;
  margin-right: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.alert-content button {
  color: var(--black-100-color);
  margin-left: 16px;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#error .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.error {
  text-align: center;
  color: black;
  font-size: 14px;
}

.error h1 {
  font-size: 10rem;
}

.error h2 {
  font-size: 2rem;
}

.error p {
  margin: 10px 0;
  font-size: 1.2rem;
}

/* End Custom CSS */

.wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

.wrap-content {
  /* background-color: red; */
  width: 100%;
  padding-top: 80px;
  overflow-y: scroll;
}

header {
  background-color: var(--primary-800-color);
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  color: white;
}

.topbar-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.topbar-img {
  display: flex;
  align-items: center;
  gap: 16px;
}

.topbar-img img {
  border-radius: 100%;
}

.sidebar .title {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .title h1 {
  color: #fff;
}

.content {
  padding: 20px 60px;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 289px;
  background-color: #34495e;
  padding: 100px 0 30px 0;
  transition: all 0.3s;
}

.sidebar.slide {
  width: 80px;
}

.nav-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 100%;
  cursor: pointer;
}

.nav-toggle i {
  color: #fff;
  font-size: 32px;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 12px 0;
  margin: 0 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}

.sidebar .profile {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .profile p {
  color: #fff;
}

.sidebar .nav-list {
  flex: 1;
  margin-bottom: 10px;
}

.nav-list a {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  margin: 0 12px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  margin-bottom: 4px;
}

.nav-list a:hover {
  background-color: #2c3e50;
  border-radius: 6px;
}

.nav-list a.active {
  background-color: #2c3e50;
  border-radius: 6px;
}

.nav-title {
  opacity: 1;
  display: inline;
}

.nav-title.hide {
  display: none;
}

/* User */

.add-data {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.add-data a {
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  margin-bottom: 10px;
}

/* EndUser */

/* Add User */

.wrap-form {
  margin-top: 50px;
}

.wrap-input {
  flex: 1;
}

.add-img {
  display: flex;
  flex: 0.4;
  flex-direction: column;
}

.add-img img {
  width: 430px;
  height: 430px;
}

.add-img label {
  margin-top: 10px;
}

.add-img input[type="file"] {
  display: none;
}

/* .add-user-img label {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
  text-align: center;
} */

/* EndAdd User */

/* DASHBOARD */

.wrap-dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.wrap-dashboard .card {
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-right: 8px;
  background-color: var(--secondary-100-color);
}

.card .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
}

.card .card-content i {
  font-size: 6rem;
  color: #3498db;
}

.card-content .wrap-card-text h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card-content .wrap-card-text p {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.card-content .wrap-card-text a {
  text-decoration: none;
  color: #3498db;
  font-size: 1.2rem;
}

/* END DASHBOARD */

@media screen and (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .topbar {
    z-index: 1000;
  }
  .sidebar {
    /* opacity: 0; */
    display: none;
    transform: translateX(-100%);
  }
  .sidebar.slide {
    display: flex;
    height: 100vh;
    position: fixed;
    z-index: 100;
    transform: translateX(0);
    top: 0;
    width: 289px;
    /* opacity: 1; */
  }
  .nav-title.hide {
    display: inline;
  }
  .flex {
    flex-direction: column;
  }

  .col {
    flex: 1;
  }

  .add-img img {
    width: 100%;
    height: 370px;
  }
}
