@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

:root {
  /* --background-color: rgb(250, 246, 245); */

  --primary-100-color: #ffece6;
  --primary-200-color: #fed9cc;
  --primary-300-color: #fec6b3;
  --primary-400-color: #feb399;
  --primary-500-color: #fea080;
  --primary-600-color: #fd8d66;
  --primary-700-color: #fd7a4d;
  --primary-800-color: #fd6733;
  --primary-900-color: #fc541a;

  --secondary-100-color: #fc4100;
  --secondary-200-color: #e33b00;
  --secondary-300-color: #ca3400;
  --secondary-400-color: #b02e00;
  --secondary-500-color: #972700;
  --secondary-600-color: #7e2100;
  --secondary-700-color: #651a00;
  --secondary-800-color: #4c1300;
  --secondary-900-color: #320d00;

  --white-100-color: #e8e8e8;
  --white-200-color: #d0d0d0;
  --white-300-color: #b9b9b9;
  --white-400-color: #a1a1a1;
  --white-500-color: #8a8a8a;
  --white-600-color: #737373;
  --white-700-color: #5b5b5b;
  --white-800-color: #444444;
  --white-900-color: #2c2c2c;

  --black-100-color: #151515;
  --black-200-color: #131313;
  --black-300-color: #111111;
  --black-400-color: #0f0f0f;
  --black-500-color: #0d0d0d;
  --black-600-color: #0b0b0b;
  --black-700-color: #080808;
  --black-800-color: #060606;
  --black-900-color: #040404;

  --white-color: #fbfbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* custom css */

.container {
  padding: 0 16rem;
}

.btn {
  padding: 10px 20px;
  background-color: var(--primary-900-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--secondary-100-color);
  color: var(--white-color);
}

.vertical-line {
  border-left: 1px solid #333;
  height: 500px;
}

.dropdown {
  display: none;
  justify-content: center;
  position: absolute;
  /* background-color: red; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  top: 88px;
  right: 250px;
  z-index: 1;
}

.dropdown.hidden {
  display: flex;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-content a {
  list-style: none;
  padding: 10px 0;
  color: var(--text-color);
  text-align: center;
}

.card {
  background-color: var(--primary-100-color);
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-text {
  text-align: center;
  margin-top: 50px;
}

.header-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.header-text p {
  font-size: 1.2rem;
}

button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* end custom css */

/* Navbar */

header {
  background-color: var(--primary-700-color);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:before {
  content: "";
  display: block;
  position: relative;
  width: 0;
  top: 1.8em;
  border-bottom: 2px solid #fff;
  transition: width 0.4s;
}

nav ul li a:hover {
  color: #f1f1f1;
}

nav ul li a:hover:before {
  width: 100%;
}

.profile a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.profile .cart {
  margin-right: 16px;
}

.profile,
.toggle-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-dropdown {
  padding: 6px 2px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.toggle-dropdown img {
  margin: 0 8px;
  border-radius: 100%;
}

.toggle-dropdown button {
  margin-right: 8px;
}

/* End Navbar */

/* Home */

#home {
  position: relative;
}

.wrap-home {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap-home .deskripsi-home {
  width: 50%;
}

.deskripsi-home h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.deskripsi-home p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.img-home {
  position: absolute;
  top: -170px;
  right: -180px;
  background-color: var(--primary-200-color);
  border-radius: 100%;
  padding: 20px;
}

.img-home img {
  border-radius: 100%;
  width: 900px;
  height: 900px;
}

/* End Home */

/* Menu Count */

#menu-count {
  margin-top: 50px;
  position: relative;
  background: var(--primary-100-color);
  padding: 40px 0;
}

.wrap-menu-count {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

.food-menu,
.drink-menu,
.experience {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Lora", serif;
}

.food-menu h3,
.drink-menu h3,
.experience h3 {
  font-size: 5rem;
}

.food-menu p,
.drink-menu p,
.experience p {
  width: 50%;
  text-align: center;
  font-size: 22px;
}

/* End Menu Count */

/* About */

#about {
  position: relative;
  background-color: var(--primary-100-color);
}

.wrap-about {
  padding: 150px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrap-about .deskripsi-about {
  width: 50%;
}

.deskripsi-about h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.deskripsi-about p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* End About */

/* Menu */

#menu {
  /* margin-top: 10px; */
}

.wrap-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  gap: 20px;
}

.card-img {
  width: 100%;
}

.card-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card-content p {
  margin-bottom: 2rem;
}

/* End Menu */

/* Footer */

footer {
  background-color: var(--primary-400-color);
  color: #fff;
}

.wrap-footer {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 20%;
}

.footer-logo p {
  margin: 20px 0;
  text-align: justify;
}

.footer-social ul {
  margin: 10px 0;
}

.footer-social ul {
  display: flex;
  justify-content: left;
  align-items: center;
}

.footer-social ul li a {
  padding: 6px 8px;
  background-color: var(--primary-900-color);
  border-radius: 4px;
  margin-right: 8px;
  font-size: 1.8rem;
}

.footer-menu ul li,
.footer-social ul li {
  list-style: none;
  margin: 8px 0;
}

.footer-menu ul li a,
.footer-social ul li a {
  color: #fff;
  text-decoration: none;
}

.copyright {
  background-color: var(--primary-700-color);
  padding: 14px 0;
  text-align: center;
}

/* End Footer */

/* ------------------------------------ */

/* VIEW PROFILE */

#profile {
  position: relative;
  padding: 80px 0;
}

.wrap-profile {
  display: flex;
  gap: 20px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-img {
  width: 100%;
}

.profile-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-nav a {
  font-size: 1rem;
  text-decoration: none;
  padding: 14px 22px;
  transition: all 0.3s;
  color: var(--black-100-color);
}

.profile-nav a:hover {
  background-color: var(--primary-100-color);
  border-radius: 8px;
}

.profile-content {
  flex: 1;
  padding-left: 40px;
}

.header-profile h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.wrap-form {
  display: flex;
  gap: 60px;
}

.form-col {
  flex: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
